<div class="container">
	<header>
		<div>
			<h1 class="title">Travel Logs</h1>
		</div>
	</header>
	<div class="row">
		<div class="col">
			
		</div>
	</div>
		<div class="col-md-6" class="task">
			<div class="row">
			  {{#each travels}}
			  	{{#unless this.visited}}
				<div class="col">
					<pre>{{this.id}} . {{this.place_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col">
					<form class="btn-size">
						<input type="hidden" class="" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default btn-add" data-id={{this.id}}>Go!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6" class="task">
			  {{#each travels}}
			  	{{#if this.visited}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.place_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col enter_section">
			<form action="/api/places/" method="POST">
				<input type="text" class="form-control" name="place_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter where you want to go then hit the "Submit" button.</p>
		</div>
	</div>
</div>




